<!--
/**
* Author : Daniel Masci - 200299037
* Class : Advanced Web Programming
* Semester : 3
* Professor : Rich Freeman / Tom Tsiliopolous
* Purpose : Assignment 1 - Express Portfolio
* Website Name : MasciApps
* 
* The Following page is a partial view - the Footer that is called into
* every other view. It contains very important Javascript files.
*/
-->
		<!-- </div>sticky-footer -->

		<div class="clear-float"></div>
				
		<footer class="section">
			<div class="container">
			
				<a class="home" href="/">Home</a>			

			</div><!-- container -->

			<div class="copyright">
				<div class="container">
					<p class="" id="copyright">Copyright &copy; 2015 MasciApps. All Rights Reserved.</p>
                	<p class="" id="author">Website by Dan Masci</p>
				</div><!-- container -->				
			</div><!--div.copyright-->


		</footer><!-- footer -->

		<!-- Javascript / JQuery files -->
		<script src="../../js/jquery.min.js"></script>
		<script src="../../js/moby.js"></script> <!-- See style.less comment (NOT MINE) -->
        <script src="../../js/main.js"></script>
	</body>

</html>