
				<li class="project">					
					<div class="image image-scale">
						<img src="../images/projects.jpg" alt="">
						<div class="text">
							<p>Edwards &amp; Davies</p>
							<div class="button"><a href="">Take Me Here</a></div>
						</div>
					</div><!-- image -->
				</li>
				<li class="project">					
					<div class="image image-scale">
						<img src="../images/projects.jpg" alt="">
						<div class="text">
							<p>PedNiG</p>
							<div class="button"><a href="">Take Me Here</a></div>
						</div>
					</div><!-- image -->
				</li>
				<li class="project">					
					<div class="image image-scale">
						<img src="../images/projects.jpg" alt="">
						<div class="text">
							<p>SunnyLea</p>
							<div class="button"><a href="">Take Me Here</a></div>
						</div>
					</div><!-- image -->
				</li>
				<li class="project">					
					<div class="image image-scale">
						<img src="../images/projects.jpg" alt="">
						<div class="text">
							<p>Briarwood</p>
							<div class="button"><a href="">Take Me Here</a></div>
						</div>
					</div><!-- image -->
				</li>
				<li class="project">					
					<div class="image image-scale">
						<img src="../images/projects.jpg" alt="">
						<div class="text">
							<p>Register My Offer</p>
							<div class="button"><a href="">Take Me Here</a></div>
						</div>
					</div><!-- image -->
				</li>