<!--
/**
* Author : Daniel Masci - 200299037
* Class : Advanced Web Programming
* Semester : 3
* Professor : Rich Freeman / Tom Tsiliopolous
* Purpose : Assignment 1 - Express Portfolio
* Website Name : MasciApps
* 
* The Following page is the View for the "Services" page.
*/
-->


<%- include ./partials/header.ejs %>

<div class="interior-header" style="background-image: url(../images/slide3.jpg)">
	<div class="container">
		<h1>Services</h1>
	</div>
</div><!-- interior-header -->

<div class="interior-page" id="services-page">

	<div class="container content-nav">
		<div class="options">
			<div class="option active" id="lyrics"><span>Lyrics</span></div>
			<div class="clear-float"></div><!-- clear-float -->
		</div><!-- options -->
	</div><!-- container.content-nav -->

	<div class="container">
		<div class="content">
			<div class="option-content lyrics-content active">
				<h2>Lyrics</h2>	

				<div class="trigger" id="fifthave">
					<strong>United Pursuit<br><i class="small">Live at Fifth Ave</i></strong><span>+</span>
					<div class="trigger-content fifthave-content">

						<div class="container content-nav">
							<div class="options-interior">
								<div class="option active" id="vol1"><span>1 (I)</span></div>
								<div class="option" id="vol2"><span>2 (II)</span></div>
								<div class="option" id="vol3"><span>3 (III)</span></div>
								<div class="option" id="vol4"><span>4 (IV)</span></div>
								<div class="option" id="vol5"><span>5 (V)</span></div>
								<div class="option" id="vol6"><span>6 (VI)</span></div>
								<div class="option" id="vol7"><span>7 (VII)</span></div>
								<div class="option" id="vol8"><span>8 (VIII)</span></div>
								<div class="option" id="vol9"><span>9 (IX)</span></div>
								<div class="option" id="vol10"><span>10 (X)</span></div>
								<div class="option" id="vol11"><span>11 (XI)</span></div>
								<div class="option" id="vol12"><span>12 (XII)</span></div>
								<div class="option" id="vol13"><span>13 (XIII)</span></div>
								<div class="option" id="vol14"><span>14 (XIV)</span></div>
								<div class="option" id="vol15"><span>15 (XV)</span></div>
								<div class="option" id="vol16"><span>16 (XVI)</span></div>
								<div class="option" id="vol17"><span>17 (XVII)</span></div>
								<div class="clear-float"></div><!-- clear-float -->
							</div><!-- options-interior -->
						</div><!-- container.content-nav -->

						<div class="option-content vol1-content">
							<h2>vol1</h2>
						</div>
						<div class="option-content vol2-content">
							<h2>vol2</h2>
						</div>
						<div class="option-content vol3-content">
							<h2>vol3</h2>
						</div>
						<div class="option-content vol4-content">
							<h2>vol4</h2>
						</div>
						<div class="option-content vol5-content">
							<h2>vol5</h2>
						</div>
						<div class="option-content vol6-content">
							<h2>vol6</h2>
						</div>
						<div class="option-content vol7-content">
							<h2>vol7</h2>
						</div>
						<div class="option-content vol8-content">
							<h2>vol8</h2>
						</div>
						<div class="option-content vol9-content">
							<h2>vol9</h2>
						</div>
						<div class="option-content vol10-content">
							<h2>vol10</h2>
						</div>
						<div class="option-content vol11-content">
							<h2>vol11</h2>
						</div>
						<div class="option-content vol12-content">
							<h2>vol12</h2>
						</div>
						<div class="option-content vol13-content">
							<h2>vol13</h2>
						</div>
						<div class="option-content vol14-content">
							<h2>vol14</h2>
						</div>
						<div class="option-content vol15-content">
							<h2>vol15</h2>
						</div>
						<div class="option-content vol16-content">
							<h2>vol16</h2>
						</div>
						<div class="option-content vol17-content">
							<h2>vol17</h2>
						</div>

					</div><!-- georgian-content -->
				</div><!-- georgian-trigger -->

				<div class="trigger" id="cmu">
					<strong></strong><span>+</span>
					<div class="trigger-content cmu-content">
						`
					</div><!-- cmu-content -->
				</div><!-- cmu-trigger -->
				<div class="trigger" id="denison">
					<strong></strong><span>+</span>
					<div class="trigger-content denison-content">

					</div><!-- denison-content -->
				</div><!-- denison-trigger -->
			</div><!-- lyrics-content -->

		</div><!-- content -->

	</div><!-- container -->

</div><!-- #services-page -->

<%- include ./partials/footer.ejs %>