<!--
/**
* Author : Daniel Masci - 200299037
* Class : Advanced Web Programming
* Semester : 3
* Professor : Rich Freeman / Tom Tsiliopolous
* Purpose : Assignment 3 - Todo Application
* Website Name : MasciApps
* 
* The Following page is the View for the "Todo List" page.
*/
-->

<% include partials/header2.ejs %>
    
    <div class="interior-header" style="background-image: url(../images/header-background.jpg)">
        <div class="container">
            <h1>Todo List</h1>
        </div>
    </div><!-- interior-header -->
    
    <div class="container">
        <ng-view></ng-view>
    </div> <!-- container -->
    
    <script type="text/ng-template" id="/todos.html">
        
        <div class="panel panel-default" ng-init="setUserName('<%= username %>')">
            <div class="panel-heading">
                <h1 class="panel-title"><%= title %></h1>
            </div> <!-- panel-heading -->
            <div class="panel-body">
                <h4><span class="badge">{{remainingTodos()}}</span> Todos of <span class="badge">{{totalTodos()}}</span> remaining</h4>
                <h5>Search Todos:</h5>
                <input type="text" ng-model="search.name" id="searchTodo" placeholder="Todo to find" class="form-control">
    
                <ul class="list-group">
                    <li class="list-group-item active">Current Todos</li>
                    <li ng-repeat="todo in todos | filter: search | filter: {username: '<%= username %>'}" class="list-group-item">
                        <div class="btn-group">
                            <button type="button" ng-show="!editing[$index]" ng-click="edit($index)" class="btn btn-default "><i class="fa fa-edit"></i></button>
    
                        </div> <!-- btn-group -->
                        <span ng-show="editing[$index]">complete?</span>
                        <input type="checkbox" ng-model="todo.completed" ng-change="update($index)">
                        <span class="todos">
                <a ng-show="!editing[$index]" href="#/{{todo._id}}" class="completed-{{todo.completed}}">{{todo.name}}</a></span>
    
                        <input ng-show="editing[$index]" type="text" ng-model="todo.name" class="form-control">
                        <div class="btn-group">
                            <button type="button" ng-show="editing[$index]" ng-click="update($index)" class="btn btn-warning">update</button>
                            <button type="button" ng-show="editing[$index]" ng-click="remove($index)" class="btn btn-danger">remove</button>
                            <button type="button" ng-show="editing[$index]" ng-click="cancel($index)" class="btn btn-default">cancel</button>
                        </div> <!-- btn-group -->
                    </li>
                </ul>
    
                <h5>New Todo</h5>
                <input type="text" ng-model="newTodo" id="newTodo" placeholder="Add a new Todo" class="form-control">
                
                <button type="button" ng-click="save()" class="btn btn-primary">Create</button>
            </div> <!-- panel-body -->
        </div> <!-- panel panel-default -->
    </script>
    
    <script type="text/ng-template" id="/todoDetails.html">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{{ todo.name }}</h2>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <h3>complete? <input type="checkbox" ng-model="todo.completed"></h3>
                <div class="well well-sm">
                    <h3>note:</h3>
                    <textarea ng-model="todo.note" class="form-control"></textarea>
                    <br>
                    <br>
                </div><!-- well well-sm -->
                <div class="btn-group">
                    <button type="button" ng-click="update()" class="btn btn-warning">update</button>
                    <button type="button" ng-click="remove()" class="btn btn-danger">remove</button>
                    <button type="button" ng-click="cancel()" class="btn btn-default">cancel</button>
                </div> <!-- btn-group -->
    
            </div> <!-- panel-body -->
        </div> <!-- panel panel-default -->
    
    </script>


<% include partials/boot.ejs %>
<% include partials/nglib.ejs %>
<% include partials/footer.ejs %>